<article class="archive__item">

  <h3 class="archive__item-title">
    {{ post.title }}
  </h3>

  {% if post.citation %}
    <p>{{ post.citation }}</p>
  {% endif %}

  {% if post.paperurl %}
    <p>
      <a href="{{ post.paperurl }}">Paper</a>
      {% if post.slides %} · <a href="{{ post.slides }}">Slides</a>{% endif %}
      {% if post.code %} · <a href="{{ post.code }}">Code</a>{% endif %}
      {% if post.arxiv %} · <a href="{{ post.arxiv }}">arXiv</a>{% endif %}
    </p>
  {% endif %}

</article>
<hr>
