{% assign p = post %}

<article class="pub-item">
<div class="pub-title">
  {{ p.title }}
</div>

<div class="pub-authors">
  {{ p.authors | replace: "Anna Sotnikova", "<strong>Anna Sotnikova</strong>" }}
</div>


  <div class="pub-venue">
    {% if p.venue %}<span class="pub-venue-name">{{ p.venue }}</span>{% endif %}
    {% if p.year %}<span class="pub-year"> ({{ p.year }})</span>{% endif %}
    {% if p.date and p.year == nil %}<span class="pub-year"> ({{ p.date | date: "%Y" }})</span>{% endif %}
  </div>

  <div class="pub-links">
    {% if p.paperurl %}<a href="{{ p.paperurl }}">paper</a>{% endif %}
    {% if p.arxiv %}{% if p.paperurl %}<span class="sep">·</span>{% endif %}<a href="{{ p.arxiv }}">arXiv</a>{% endif %}
    {% if p.code %}{% if p.paperurl or p.arxiv %}<span class="sep">·</span>{% endif %}<a href="{{ p.code }}">code</a>{% endif %}
    {% if p.slides %}{% if p.paperurl or p.arxiv or p.code %}<span class="sep">·</span>{% endif %}<a href="{{ p.slides }}">slides</a>{% endif %}
  </div>
</article>
